<section class=new-car-div>
    <%= form_for :car, url: "/teams/#{params[:team_id]}/cars", html: {class: "new-car-form"} do |t| %>
        Create new Car:<br><hr>
        <%= t.text_field :name , placeholder: "Car Name"%><br/><br/>
        <%= t.text_field :rank, placeholder: "Car Rank" %><br/><br/>
        <%= t.text_field :level, placeholder: "Car Level" %><br/><br/>
        <%= t.text_field :durability, placeholder: "Car Durability" %><br/><br/>
        <%= t.text_field :attack, placeholder: "Car's Attack level" %><br/><br/>
        <%= t.text_field :speed, placeholder: "Car Speed" %><br/><br/>
        <%= t.text_field :wins, placeholder: "Car's Wins" %><br/><br/>
        <%= t.text_field :losses, placeholder: "Car's Losses" %><br/><br/>
        <%=t.hidden_field :team_id, value: @team.id %>
        <%= t.submit %>
    <% end %>
</section>